[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
progress = "*"
scikit-learn = "*"
nltk = "*"
pymystem3 = "*"
emoji = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"

[packages.pandasticsearch]
git = "https://github.com/onesuper/pandasticsearch.git"
ref = "0.6.0"

[packages.twint]
git = "https://github.com/dikuchan/twint.git"
ref = "origin/nosleep"

[packages.stop-words]
git = "https://github.com/Alir3z4/python-stop-words.git"
ref = "origin/master"
