[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"

[packages.twint]
git = "https://github.com/twintproject/twint.git"
editable = true
ref = "origin/master"
