.SearchBar {
  margin-top: 50px;
}

.badge {
  margin: 3px;
}

.badge > div {
  display: flex;
  align-items: center;
}

.close-btn {
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
}

.close-btn img {
  width: 1em;
  height: 1em;
}

.close-btn:hover {
  background-color: blue;
}

.form-group.searchbar {
  margin: 0px;
}
