[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
nltk = "*"
pymystem3 = "*"
emoji = "*"
bottle = "*"

[dev-packages]
pylint = "*"

[packages.pandasticsearch]
git = "https://github.com/onesuper/pandasticsearch.git"
ref = "0.6.0"

[packages.stop-words]
git = "https://github.com/Alir3z4/python-stop-words.git"
ref = "master"
